<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(8, 8, 8);
        }
        .container{
            display:inline;
            justify-content:space-around;
            align-items: center;
            color: aliceblue;
            height: 100vh;
            padding: 0 50px;
        }
        .heading{
            font-size: 3rem;
            margin-left: 40px ;
        }
        #h1{
            text-shadow: 0 0 20px #4d4b4b, 0 0 40px #605c5c;
        }
        #des{
            height: 200px;
            width: 80%;
            background-color: transparent;
            border: 2px solid aliceblue;
            color: aliceblue;
        }
        .desc{
            font-size: 3rem;
            margin-left: 40px;
        }
        #button{
            background : aliceblue;
            color: black;
            padding: 10px;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            margin-top: 10px;
            border-radius: 10px;
            margin-left: 40%;
        }
        #button :hover {
            background-color: #fff;
            color: black;
        }

        
    </style>

</head>
<body>
    <div class="container">
     <div class="heading">
        <% if(locals.FirstName)%>
        <h1 id="h1">Hello <%=FirstName %> !</h1>
     </div>
    <div class="desc">
    <p>Enter your Problem in the below box: </p>
    <textarea id="des" placeholder="Description"></textarea>
    </div>
      <form action="/continue" method="post">
        <button id="button" type="submit">continue</button>
      </form>
    </div>
</body>
</html>